body {
    font-family: "Sans-Serif";
    background-color: azure;
}

.btn-primary
{
    background-color: greenyellow;
    border-color:transparent;
    color:black;
}

#menu .active
{
    background-color: plum !important;
    color:black !important;
}